@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.bg-dark {
  background-color: #19000e!important;
}
.no-padding {
  padding: 0;
  margin: 0;
}
.left {
  text-align: left;
}
.card {
  margin-top: 0px;
}
.carousel-caption {
  color: #ff1e1e;
  top: 100px;
  font-family: 'Black Han Sans', sans-serif;
}
.footer {
  background-color: lightgrey;
  margin-top: 0px;
  min-height: calc(30vh - 20px);
}
.form-group {
  margin-left: 10px;
}
.space {
  margin-left: 15px;
}
.video {
  margin-top: 75px;
  margin-left: 20px;
}
.carousel-control-prev-icon, .carousel-control-next-icon  {
  background-color: black;
  border:0;
}
.carousel-item img {
  height: 250px;
}
.carousel {
  height: 220px;
}
.carousel-control-prev, .carousel-control-next {
    max-height: 20px;
    margin-top: 200px;
}
.card-body {
  margin-top: 10px;
}
.headerimage {
  margin-top: 10px;
  margin-bottom: 30px;
}
.color {
  background-color: #000;
  color: white;
  margin-top: 5px;
  border: 1px solid #999;
}
